.btn-chat {
    background-color: #009688 ;
    color: white;
    border: none;
    text-decoration: none;
    padding: 20px 20px;
    /*espaçamento interno ao botão. Isso faz com que ele fique mais "alto" 
    (10px no topo e embaixo) e mais "largo" (20px nas laterais).*/
    border-radius: 5px;
    /*cantos do botão arredondados.*/
    cursor: pointer;
    /*cursor do mouse para uma "mãozinha"*/
}


/* deixando o chat responsivo para celular */
@media (max-width: 480px) {
    .btn-chat{
        display: block;
    }
    .container{
      flex-direction: column;
    }
    .container .side-ba{
        max-width: 80%;
    }
    .chat-container{
        display: none;
    }
    
  }
