body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Remove a barra de rolagem */
    box-sizing: border-box; /* Define o box-sizing como border-box para que as larguras e alturas incluam o padding e a borda */
}

.main-login {
    width: 100vw; /* Define a largura como 100% da viewport */
    height: 100vh; /* Define a altura como 100% da viewport */
    background: #2e3c41; /* Define a cor de fundo */
    display: flex; /* Define o display como flex para organizar o conteúdo em linha */
    justify-content: center; /* Centraliza o conteúdo no eixo horizontal */
    align-items: center; /* Centraliza o conteúdo no eixo vertical */
}

.left-login {
    width: 50vh; /* Define a largura como 50% da altura da tela */
    height: 100vh; /* Define a altura como 100% da tela */
    display: flex; /* Usa flex para organizar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-direction: column; /* Organiza o conteúdo em coluna */
}

.back-button {
    position: absolute;
    top: 20px; /* Posiciona o botão a 20px do topo */
    left: -40px; /* Move o botão levemente para fora do container */
    font-size: 24px;
    color: #ffffff; /* Define a cor do botão */
    text-decoration: none; /* Remove a sublinha */
    cursor: pointer; /* Define o cursor como pointer para indicar que é clicável */
}

.back-button:hover {
    color: #009688; /* Altera a cor do botão ao passar o mouse */
}

.left-login h1 {
    /* Estilos do título */
    font-size: 3vw;
    color: #ffffff; /* Define a cor do texto */
    width: 100%;
    margin-top: 50px; /* Adiciona espaço acima do título */
    text-align: center; /* Centraliza o título */
}

.left-login-image {
    width: 60vh; /* Define a largura da imagem */
    margin-top: 10px;
    height: auto;
    
 
}

.right-login {
    width: 50vh; /* Define a largura como 50% da altura da tela */
    height: 100vh; /* Define a altura como 100% da tela */
    display: flex; /* Usa flex para organização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.card-login {
    width: 60%; /* Define a largura da área de login */
    display: flex;
    align-items: center;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    padding: 30px 35px;
    background: #009688; /* Cor de fundo */
    border-radius: 20px; /* Arredonda as bordas */
    box-shadow: 0px 10px 40px #00000056; /* Adiciona uma sombra */
    position: relative; /* Define posição relativa para o botão de voltar */
    margin-left: auto; /* Empurra o card para a direita */
}

.card-login>h1 {
    color: #ffffff; /* Cor do título */
    font-weight: 800; /* Negrito */
    margin: 0; /* Remove margem padrão */
}

.textfield {
    width: 100%; /* Largura total do campo de texto */
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    justify-content: center; /* Centraliza verticalmente */
    margin: 10px 0px; /* Margem acima e abaixo */
}

.textfield>input {
    width: 100%;
    border: none; /* Remove a borda */
    border-radius: 10px; /* Arredonda as bordas */
    padding: 15px;
    background:  #329d92; /* Cor de fundo do campo de texto */
    color: #f0ffffde; /* Cor do texto */
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056; /* Adiciona sombra */
    outline: none; /* Remove o contorno */
    box-sizing: border-box; /* Inclui padding e borda na largura */
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px; /* Espaçamento abaixo do label */
}

.textfield>input::placeholder {
    color: #f0ffffde; /* Cor do placeholder */
}

.btn-login {
    width: 100%; /* Largura total do botão */
    padding: 16px 0px;
    margin: 25px;
    border: none; /* Remove a borda */
    border-radius: 8px; /* Arredonda as bordas */
    outline: none;
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    font-weight: 800; /* Negrito */
    letter-spacing: 2px; /* Espaçamento entre letras */
    color: #2b134b; /* Cor do texto */
    background: #ffffff; /* Cor de fundo */
    cursor: pointer; /* Cursor de ponteiro para indicar que é clicável */
    box-shadow: 0px 10px 40px -12pcd #00ff8052; /* Sombra do botão */
}

/* Estiliza o parágrafo com a mensagem de registro */
.signup-link {
    text-align: center; /* Centraliza o texto */
    margin-top: 10px; /* Espaço acima do link */
    color: #f0ffffde; /* Cor do texto */
}

/* Estiliza o link "Clique aqui" dentro do parágrafo */
.signup-link a {
    color: #ffffff; /* Cor do link */
    text-decoration: none; /* Remove a sublinha do link */
}

/* Adiciona um efeito ao passar o mouse sobre o link */
.signup-link a:hover {
    text-decoration: underline; /* Adiciona um sublinhado ao passar o cursor */
}

/* Adiciona responsividade para telas pequenas */
@media (max-width: 480px) {
    .main-login {
        flex-direction: column; /* Alinha os elementos em coluna */
        padding: 5px;
    }

    .left-login {
        height: 30vw; /* Ajusta a altura */
    }

    .left-login h1 {
        /* Estilo do título */
        font-size: 20px;
        text-align: center;
    }

    .left-login-image {
        display: none; /* Oculta a imagem em telas pequenas */
    }

    .card-login {
        height: 70%; /* Ajusta a altura do card */
        margin-left: 0;


    }

    .right-login{
        width: 40vh;
    }
}
