* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color:#5b8b63;
    color: #93e0aa;
    text-align: center;
    padding: 20px 0;
    
}



/* Estilos para a seção "Sobre" com texto e imagem */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:  auto;
    padding: 20px;
}
.about h1 {
    color:#2e3c41;
    font-size: 30px;
    margin-bottom: 20px;
}

.ong-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px#5b8b63;
    width: 93%;
}

/* Estilos para a galeria de imagens */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.image {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #2e3c41;
    background-color:#93e0aa;

    text-align: center;
    width: 30%;
}

.image img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 5px;
}

.image p {
    margin-top: 10px;
    font-size: 16px;
    color:#93e0aa;
}
/* Estilos para os cards de notícias */
.news-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 100px;
}

.news-cards .card {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #e9ebff;
    text-align: center;
    width: 30%;
    opacity: 0.2;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    opacity: 1;
    background-color:#93e0aa !important;
}

/*imagens dos cards, card1*/
.news-cards .card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    margin: 20px;
}

.news-cards .card .card-content h3 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

.news-cards .card .card-content p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}
nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

aside {
    background-color: #f4f4f4;
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 120px;
    bottom: 0;
    right: 0;
    background-color: #f4f4f4;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    }
    .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    }
    .card img {
    
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    }
    .card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    }
    .card p {
    font-size: 1em;
    color: #666;
    }
    footer {
    background-color:#93e0aa;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    }

     
   