
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Remove a barra de rolagem */
    box-sizing: border-box;
}


.main-cadastro {
    width: 100vw;
    height: 100vh;
    background: #2e3c41;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cadastro {
    width: 50vh;
    height: 100vh;
    /*altura*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro h1 {
    font-size: 3vw;
    width: 100%;
    margin-top: 100px; /* Adiciona mais espaçamento para descer */
    text-align: center; /* Centraliza o texto */
    color: #ffffff;
}

.left-cadastro-image {
   
    width: 60vh; /* Define a largura da imagem */
    height: auto;
    /*tamanho da fonte*/


}

.right-cadastro {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: left;
    /*Centraliza os itens horizontalmente*/
    align-items: center;
}

.card-cadastro {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #009688;
    /*cor do fundo*/
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    /*sombra*/
    margin-left: auto; /* Empurra o card para a direita */
    

}

.card-cadastro h1 {
    color: #ffffff;
    /* cor do titulo*/
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:  #329d92;
    /*cor do fundo*/
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield input::placeholder {
    color: #f0ffffde;
}

.btn-cadastro {
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    /*espaço entre a letra do botão*/
    color: #ffffff;
    background:  #0d574f;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12pcd #00ff8052;
}
.back-button {
    position: absolute;
    left: 0; /* Ajuste para posicionar ao lado da área de login */
    transform: translateX(-150%); /* Mova para a esquerda */
    top: 0; /* Alinhe verticalmente um pouco mais para cima */
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.back-button:hover {
    color:#009688 ; /* Altera a cor do botão ao passar o mouse */
}

/* Responsividade para dispositivos menores */

@media (max-width: 768px) {
    .main-cadastro {
        flex-direction: column;
        padding: 5px;
    }

    .left-cadastro {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    .left-cadastro h1 {
        font-size: 24px;
    }

    .left-cadastro-image {
        width: 100%;
        margin-top: 20px;
    }

    .right-cadastro {
        width: 80%;
        height: auto;
    }

    .card-cadastro {
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .left-cadastro {
        height: auto;
    }

    .left-cadastro h1 {
        font-size: 20px;
        text-align: center;
    }

    .left-cadastro-image {
        display: none;
    }

    .card-cadastro {
        width: 90%;
        padding: 15px;
    }

    .btn-cadastro {
        font-size: 14px;
        padding: 12px 0;
    }
}
