
body {
    margin: 0;
    /*Remove a margem padrão do corpo da página*/
    
}

.main-login {
    width: 100vw;
    /* vw é a porcentagem da largura da tela*/
    height: 100vh;
    /*vh altura do viewport (tela)*/
    background: #2e3c41;
    /*cor da div (do fundo)*/
    display: flex;
    /* para que as coisa fique lado a lado*/
    justify-content: center;
    /*para centralizar o eixo x no centro*/
    align-items: center;
    /*para centralizar o eixo y no centro*/

}

.left-login {
    width: 50vh;
    /*para ocupar so 50% da tela*/
    height: 100vh;
    /*altura*/
    display: flex;
    justify-content: center;
    /*centraliza os itens horizontamente*/
    align-items: center;
    /*Centraliza os itens verticalmente*/
    flex-direction: column;
    /* para a imagem ficar na parte de baixo*/
}

.left-login h1 {
    /*titulo*/
    font-size: 3vw;
    color:#93e0aa;
    width: 100%;
    margin-top: 0;
}
    

.left-login-image {
    width: 50vw;
    /*tamanho da fonte*/


}

.right-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*Centraliza os itens horizontalmente*/
    align-items: center;
    /*Centraliza os itens verticalmente*/

}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    /*|Centraliza os itens horizontalmente*/
    align-items: center;
    /*Centraliza os itens verticalmente*/
    flex-direction: column;
    /*alinha os itens em uma coluna*/
    padding: 30px 35px;
    background: #2f2841;
    /*cor do fundo*/
    border-radius: 20px;
    /*borda redonda*/
    box-shadow: 0px 10px 40px #00000056;
    /*sombra*/

}

.card-login>h1 {
    color: #93e0aa;
    /* cor do titulo*/
    font-weight: 800;
    /*texto em negrito*/
    margin: 0;
    /*remove a margem padrão*/
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*alinha os itens em uma coluna*/
    align-items: flex-start;
    /*alinha o conteúdo na esquerda*/
    justify-content: center;
    /*Centraliza verticalmente*/
    margin: 10px 0px;
    /*define a marge de cima e abaixo do campo de texto*/
}

.textfield>input {
    width: 100%;
    border: none;
    /*remove a borda padrão do input*/
    border-radius: 10px;
    /*rendondar as bordas*/
    padding: 15px;
    background: #514869;
    /*cor do fundo*/
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    /*sombra*/
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
    /*Espaçamento*/
}

.textfield>input::placeholder {
    color: #f0ffffde
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    /*Remove a borda*/
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    /*trasforma o texto do botão em maiusculo*/
    font-weight: 800;
    /*negrito do texto do botão*/
    letter-spacing: 2px;
    /*espaço entre a letra do botão*/
    color: #2b134b;
    background: #93e0aa;
    cursor: pointer;
    /*indica que o botão é clicavel*/
    box-shadow: 0px 10px 40px -12pcd #00ff8052;
}

.btn-voltar{
    border: none;
    /*Remove a borda*/
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    /*trasforma o texto do botão em maiusculo*/
    font-weight: 800;
    /*negrito do texto do botão*/
    letter-spacing: 2px;
    /*espaço entre a letra do botão*/
    color: #2b134b;
    background: #93e0aa;
    cursor: pointer;
    /*indica que o botão é clicavel*/
    box-shadow: 0px 10px 40px -12pcd #00ff8052;
   
}

/*adicionando resposividade*/
@media (max-width: 480px) {

    .main-login{
       flex-direction: column;
    }
    .left-login{
        height: 30vw;
    }

    .left-login h1 {
        /*titulo*/
        font-size: 20px;
        text-align: center;
    }

    .left-login-image {
        display: none;
        /*tamanho da fonte*/
    }
    .card-login{
        height: 70%;
        
    }
    
}