* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

/* estilização do site */
body {
    background-color: #eeead9;
}


.cta{
    text-align: center;
    margin: 5%;

}

.logo img {
    width: 70px;
    border-radius: 60%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    font-size: large;
}

/* cor e tamanho da fonte da nav */
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    

}

/* cor da fonte quando aperta em cima */
nav ul li a:hover {
    color: #023807;
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(174, 240, 188);
    padding: 20px 0;
    text-align: center;

}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
}

.card {
    background-color: #317241;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    
}

.card img {
    width: 100%;
    height: 200px;
    max-width: 200px;
    border-radius: 90%;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
    
}

.card p {
    font-size: 1em;
    color: #aefcbb;
}

.espaco2-section {
    display: flex;
    flex-direction: column;
}




