* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

body {
    background-color: #ffffff93;
}

/* Header */
.search-bar {
    /*Define o container para a barra de pesquisa como um 
    "flexbox", alinhando o campo de texto e o botão no centro */

    display: flex;
    /*alinha os elementos dentro 
    (campo de entrada e botão) em uma linha horizontal.*/

    align-items: center;
}

.search-bar input {
    padding: 10px;
    /*Adiciona espaçamento interno ao redor 
    do texto dentro do campo de entrada*/
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    /* Espaço entre o campo de pesquisa e o botão */
}

.search-bar button {
    background-color: #ff9800;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    /*espaçamento interno ao botão. Isso faz com que ele fique mais "alto" 
    (10px no topo e embaixo) e mais "largo" (20px nas laterais).*/
    border-radius: 5px;
    /*cantos do botão arredondados.*/
    cursor: pointer;
    /*cursor do mouse para uma "mãozinha"*/
}

.search-bar button:hover {
    background-color: #ec8e00;

}

/* Estilos da barra de navegação */
.navbar {
    display: flex;
    /*alinhar os itens em linha*/
    justify-content: space-between;
    /*distribuir o espaço entre o logo, o menu e o botão.*/
    align-items: center;
    padding: 20px;
    background-color: #13572C;
}

.logo h1 {
    font-size: 24px;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    /*Remove os marcadores da lista*/
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

/* cor e tamanho da fonte da nav */
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 0 20px;
    padding: 10 20px;
}

.cta-button button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* Estilo da seção principal */
.header-content {
    background: linear-gradient(to right, #145825, #5ad884);
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.header-content h2 {
    font-size: 36px;
}

.header-content p {
    font-size: 18px;
    margin-top: 10px;
    max-width: 600px;
    /*largura do texto a 600px, para que não se espalhe muito pela tela.*/
    /*Centraliza o conteúdo dentro do seu container.*/
    margin-left: auto;
    margin-right: auto;
}

/* Inicio da página Home*/

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    margin-top: 10px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 48px;
    color: #333;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #535353;
}

.hero-image img {
    max-width: 600px;
    border-radius: 0px;
    background-color: #ffffff;
}


/* Sessão Cards */

.services-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 2300px;
    margin: 20px auto;
    margin-top: 1%;
    margin-bottom: 1%;
    gap: 1px;
    /* Espaçamento entre os blocos */
}

.service-box {
    background-color: white;
    flex: 1;
    min-width: 200px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 30px;
}

.service-box:hover {
    transform: translateY(-10px);
    /* Animação ao passar o mouse */
}

.service-box.blue {
    background-color: #2e3c41;
    color: white;
}

.service-box.orange {
    background-color: #2e3c41;
    color: white;
}

.icon img {
    width: 50px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

p {
    font-size: 1rem;
    text-align: start;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    .service-box {
        flex-basis: calc(50% - 20px);
        /* Metade da largura para tablets */
    }
}

/* Responsividade para smartphones */
@media (max-width: 480px) {
    .service-box {
        flex-basis: 100%;
        /* Bloco ocupa toda a largura em dispositivos pequenos */
    }
}

/*Sessão conversa*/
.conversa-section {
    display: flex;
    flex-direction: column;
    color: #ffff;
}

.cta2 {
    background-color: #13572C;
    padding: 70px 50px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.cta2 p {
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: start;
    margin-left: 15%;
    margin-right: 15%;
    width: 100%;
}

.cta-button2 {
    background-color: #2e3c41;
    color: #fff;
    padding: 20px 35px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block;
    
}

.cta-button2:hover {
    background-color: #212a2e;
}

/* Estilos para a seção "Sobre" com texto e imagem */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 90%;
    padding: 40px;
    margin-right: 60%;
    margin-left: 4%;
}

.about p{
    margin-top:3%;
    font-size: large;
}

.about h1 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 13%;
    text-align: justify;
    position: absolute;
    left: 62%;
}

.ong-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #fff;
    margin: 0px;
    border-radius: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 93%;
}

.ong-info img {
    width: 25%;
    height: auto;
    border-radius: 5px;
    margin: 0px;
}

/*Sessão 'sobre nós'*/

/* Título da Seção */
.service-section h1 {
    color: #000000;
    font-size: 32px;
    text-align: center;
    margin: 40px;
}

/* Contêiner Principal dos Cartões */
.service-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin-bottom: 50px;
    margin-left: 195px;
}

/* Estilo do Cartão */
.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilo do Ícone */
.icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

/* Título do Cartão */
.card h3 {
    font-size: 1.2em;
    color: #1c1c6c;
    margin: 10px 0;
}

/* Descrição do Cartão */
.card p {
    font-size: 0.9em;
    color: #555555;
}

/* Efeito de Hover */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Sessão sobre o porque criamos esse site*/

.history-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #eaf5ea;
}

.history-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

/* Estilo da área de texto da história */
.history-text {
    flex: 1;
    padding-right: 40px;
}

.history-text h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #111;
}

.history-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}


/* Estilo da linha do tempo */
.timeline {
    flex: 1;
    border-left: 2px solid #ccc;
    padding-left: 40px;
    position: relative;
}

.timeline-item {
    margin-bottom: 40px;
    padding-left: 20px;
    position: relative;
}

.timeline-date {
    font-size: 14px;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: -30px;
}

.timeline-item h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #111;
}

.timeline-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}


/*Formulário para contato*/
.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: #ffffff;
    margin-left: 6%;
    margin-top: 0.4%;
}

.contact-form {
    max-width: 30%;
    margin: 5%;
}

.contact-form h2 {
    font-size: 28px;
    color: #111;
    margin-bottom: 10px;

}

.contact-form p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-form .form-row {
    display: flex;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;

}

.contact-form textarea {
    height: 100px;
    width: 520px;
}

.contact-form button {
    background-color: #ff9800;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #e68a00;
}

.contact-image img {
    width: 10000px;
    max-width: 45%;
    height: auto;
    margin-left: 30%;
    margin-top: 100px;
}


/*Imagem footer*/
img {
    width: 120%;
    left: 150%;
    right: 50%;
    top: 50%;
}

/*Footer*/

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8F8F8;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 10px;
    color: #666666;
    text-decoration: none;
}

footer p {
    font-size: 0.9em;
    color: #666666;
    margin: 0;
}

