* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilização do site */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:rgb(174, 240, 188);
    background: radial-gradient(circle, rgba(177,238,174,1) 41%, rgb(173, 233, 151) 100%);
}


.logo img {
    width: 70px;
    border-radius: 60%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    font-size: large;
}

/* cor e tamanho da fonte da nav */
nav ul li a {
    text-decoration: none;
    color: #1a4d29; 
    font-weight: bold; 
    text-align: center;
}

/* cor da fonte quando aperta em cima */
nav ul li a:hover {
    color: #000000;
}

.auth-buttons {
    display: flex;
}

.auth-buttons a {
    text-decoration: none;
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.login {
    color: #000000;
    font-size: large;
}

.demo {
    background-color: #f3f4f6;
    color: #333;
}

.signup {
    background-color: #1a4d29;
    color: white;
}

.stats-section {
    padding: 0px 0px;
    text-align: center;
    background-color: rgb(222, 243, 198);
}

.stats-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.stat {
    width: 20%;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.5);
}

.stat h2 {
    font-size: 32px;
    font-weight: bold;
    color: #1a4d29;
}

.stat p {
    font-size: 16px;
    color: #000000;
}



/*Footer*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(174, 240, 188);
    padding: 20px 0;
    text-align: center;

}

.stat img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    
}

