* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

aside {
    background-color: #f4f4f4;
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 120px;
    bottom: 0;
    right: 0;
    background-color: #f4f4f4;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    }
    .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    }
    .card img {
    
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    }
    .card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    }
    .card p {
    font-size: 1em;
    color: #666;
    }
    footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    }

     /* Media Queries para responsividade */
     @media (max-width: 768px) {
        header {
        padding: 15px;
        }
    .card h2 {
    font-size: 1.25em;
    }
    .card p {
    font-size: 0.9em;
    }
    }
    @media (max-width: 480px) {
    .card {
    padding: 15px;
    
    }
    .card h2 {
    font-size: 1.1em;
    }
    .card p {
    font-size: 0.8em;
    }
    }
   